{{- define "main" -}}

<header class="h1 fw-bolder">{{ .Title | markdownify }}</header>

<p>
  <small class="text-secondary">
  {{ $customDateFormat := "2006-01-02" }}
  {{ with .Site.Params.customDateFormat }}{{ $customDateFormat = . }}{{ end }}
  {{ .PublishDate.Format $customDateFormat }}{{ if gt .Lastmod .PublishDate }}, updated {{ .Lastmod.Format $customDateFormat }}{{ end }}
  </small>
  {{ partial "tags" . }}
  {{ partial "categories" . }}
</p>

{{ if and (gt .WordCount 100 ) (.Params.toc) }}
<aside>
    {{.TableOfContents}}
</aside>
{{ end }}

{{ .Content }}

<script src="https://giscus.app/client.js"
        data-repo="ZJUGuoShuai/blog-comments"
        data-repo-id="R_kgDOH0RpnQ"
        data-category="Announcements"
        data-category-id="DIC_kwDOH0Rpnc4CQ0Qm"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>

{{- end -}}
